body {
  font-family: Arial, sans-serif;
  background: linear-gradient(#ffe6f0, #e6f7ff);
  text-align: center;
  padding: 20px;
}

h1 {
  color: #ff4d88;
}

li {
  background: white;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  list-style: none;
}

button {
  background-color: #ff4d88;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 20px;
}
